@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat-Regular.woff2), 
		  url(fonts/Montserrat-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat-Bold.woff2),
		  url(fonts/Montserrat-Bold.woff);
	font-weight: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: "Montserrat";
	font-weight: 400;
}

.bayan {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);	
}

.bayan-container {
	width: 60%;
}

.bayan-title, .bayan__option {
	border-bottom: .05em solid #181818;
}

.bayan__title {
	font-weight: 700;
	font-size: 3em;
	margin-bottom: 0.75em;
	color: #181818;
}

.bayan__option {
	display: block;
	font-size: 1.5em;
	color: #181818;
}

.bayan__option:not(:last-of-type) {
	margin-bottom: 0.5em;
}

.bayan__radio-btn {
	display: none;
}